
#segment1
{
	background-color:white;
	font-family:calibri;
}
#segment2
{
	background-color:rgb(200,200,200);
	font-family:calibri;
h2{
	font-family:calibri;
}
#para1
{
	font-family:calibri;
}
#ImgPi{
	float:center;
}