body{
        background-color:rgba(0, 128, 255,0.6);
        font-family:calibri;
        overflow-x:hidden;
    }
    table{
        border:1px solid black;
        border-collapse:collapse;
        background:white;
        font-size:3em;
    }
    tr,td,th{
        border:1px solid black;
        padding:0.25em;
    }
    #collectMoreData{
        background-color:white;
        border-radius:0.25em;
        font-size:2em;
        text-align:center;
        width:20vw;
        cursor:pointer;
        transition-duration:0.25s;
    }
    #collectMoreData:hover{
        transition-duration:0.25s;
        background-color:black;
        color:white;
    }
    .flexContainer{
        width:100vw;
        display:flex;
        justify-content:center;
        margin-top:10vh;

    }