<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link type="text/css" rel="stylesheet" href="BasicWeb.css" />
    <script src="../Scripts/jquery-3.3.1.js"></script>
    <script src="../Scripts/jquery-3.3.1.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../Styles/bootstrap.min.css" />
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <?php?>
    <!--Start Of JavaScript Code-->
    <script></script>
</body>
</html>